aiodns==3.0.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
aioredis==1.3.1
APScheduler==3.7.0
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
Brotli==1.0.9
cchardet==2.1.7
cffi==1.14.5
chardet==4.0.0
ciso8601==2.1.3
colorlog==5.0.1
ed25519==1.5
hikari @ git+https://github.com/hikari-py/hikari@9542df348e095f690d587dd74c5524fa0a021be8
hikari-lightbulb==0.0.61
hikari-sake @ git+https://github.com/FasterSpeeding/Sake@49e0d7c8d0866acb2bf3dc001e7d9358cb353f49
hikari-yuyo==0.0.3a6
hiredis==2.0.0
idna==3.2
multidict==5.1.0
pure25519==0.0.1
pycares==4.0.0
pycparser==2.20
python-dotenv==0.18.0
pytz==2021.1
six==1.16.0
typing-extensions==3.10.0.0
tzlocal==2.1
uvloop==0.15.2
yarl==1.6.3
